# コンピュータの言語2025: 課題２

## 1. はじめに

[Google colaboratory](https://colab.google) や [jupyter notebook](https://jupyter.org) はプログラムを対話的に実行できる便利な環境です．今年度のコンピュータの言語では， Google colaboratory 環境を使って練習しながら python とプログラムの考え方に慣れていってもらいます．

### セルの実行と編集

notebook 環境のドキュメントは __セル(Cell)__ というまとまりから構成されています．セルには２種類あります．

* __テキストセル__ : 説明や文章を書きます．ダブルクリックで編集することができ，__Shift+Enter__ (Shiftキーを押しながらEnterキーを押す） で確定されます．
* __コードセル__ : プログラムを書いて実行します．クリックで編集することができ，__Shift+Enter__ でプログラムが実行されます．

## 2. python を使った計算

### 四則計算

いくつかの計算をして見ましょう．四則演算の記号は以下となります．
* 足し算：```+```
* 引き算：```-```
* 掛け算：```*```
* 割り算：```/```

In [ ]:
1+1

In [ ]:
3-2

In [ ]:
4/2

In [ ]:
2*3

In [ ]:
2.0*3

In [ ]:
(10+3)*2-1

### べき乗

$2^3$ は　```**``` という記号を使って計算することができます．２の３乗は８ですね．

In [ ]:
2**3

### 割り算の商と剰余
割り算の```/``` は少数まで求めますが，整数だけ求めたいとき，つまり割り算の__商__は ```//```，割り算の__あまり（剰余）__は ```%``` という記号を使って計算することができます．例えば，10を3で割った時の商3と余り1 については以下のように求めることができます．

In [ ]:
10//3

In [ ]:
10%3

### コメント
プログラムをするときには，コードの説明を入れることがよくあります．この説明のことを __[コメント](http://ja.wikipedia.org/wiki/コメント(コンピュータ)__ と言います．コメントはプログラムでは通常実行されません．

Python ではコメント部分を示すのに ```#``` の記号を使い，```＃``` のある場所から行末までがコメントとなります．

In [ ]:
10%3  # この部分は説明です．

### printによる出力
ここまでの計算では，全て計算結果がすぐ下に出てきていましたが，複数の計算結果を出力したい場合には ```print``` 命令を使います．書式は

```
print(出力したいもの)
```

です．

In [ ]:
print(1+1)
print(3+3)
print("1+1を計算したら", 1+1, "になる")

### ビットとバイト

前回の授業では __ビット(bit)__ と __バイト(byte)__ という単位について学習しました．

それでは何ビットで何通りのことを表現できるかを調べてみましょう．そのためには，２のべき乗を計算すればよいことになります．$2^n$ は python では ```2**n``` で計算できますので，以下のようになります．

In [ ]:
print(2**1) # 1ビット
print(2**2) # 2ビット
print(2**3) # 3ビット

次に何バイトで何通りのことを表現できるでしょうか？ 1バイトは8ビットですから，p バイトだと $8 \times p$  ビットになりますので，

In [ ]:
print(2**(8))   #1バイト
print(2**(8*2)) #2バイト
print(2**(8*3)) #3バイト

バイト数が大きくなると急速に大きな数になっていることがわかりますね．

## 3. データ型(type)

プログラムにはどんな言語にも様々なデータの型があります．Python には以下の型があります．

* __数値型__
	* 整数 (__int__)
	* 浮動小数点（__float__）
* __文字列型__ (__str__)
* __真偽型__ (__bool__)

そして，それらを複数集めて一緒に使うための型があります．

* __リスト型__ (__list__)
* __辞書型__ (__dict__)
* __タプル型__ (__tuple__)

今回は上の，数値型，文字列型，論理型について扱います．

__以下では，例にある計算や式を下のセルに入力して実行してください__
（キーボードで入力してキーボード入力に慣れるようにしてください）

__プログラムの実行は，実行したい行（セル）を選択して shiftキーを押しながらenter(またはreturn) キーを押します．__

### 数値型


#### 整数
```python
1+1
```

#### 浮動小数点
浮動小数点数であることを明示するためには ```.0``` をつけます．
```python
1.0+1.0
```

整数と浮動小数点の数を一緒に計算すると，自動的に __型変換__ が行われて，結果は浮動小数点型になります．
```python
1+2.0
```

### 文字列

" " や '' の記号で囲まれた文字が ___文字列___ として扱われます．どちらの記号を使っても構いません．
```python
"Hello"
```

```python
'Hello'
```

文字列型での足し算は，二つの文字列をくっつける操作になります．
```python
'Hello' + 'Python'
```

数字も "" で囲まれると文字列として扱われます．例えば，数字の 1 と文字の 1 の足し算をするとエラーになります．
```python
1 + '1'
```

上のエラー表示の ___TypeError___ は「型のエラー」ということですね．int（整数）と str（文字列）では足し算ができないと怒られます．

### 型の確認と変換

型(type)の確認は ```type()``` という関数で確かめることができます．以下のそれぞれの命令の結果を確かめてください．
```python
type(1), type(1.0), type('hello')
```

異なる型どうしでも適切に型の変換をしてやることで演算をすることができます．型変換をする関数には ```int(), float(), str()``` があります．
```python
1 + int('1')   # '1' を整数型の1として扱ってほしい
```

```python
str(1) + '2'   # 1 を 文字列型の'1' として扱ってほしい
```

### 真偽型

論理型，ブール型とも言います．__真(True)__か__偽(False)__の２つの値だけを示す場合に使われます．以下では２つの数値を比較する演算子（__比較演算子__) の結果が真偽型で表示されている例です．
```python
3>1
```

```python
3<1
```

比較演算子には以下のようなものがあります．

|演算子| 使用例 | 意味 |
|------|--------|------|
| == | a==b | a と b が等しければ True |
| != | a!=b | a と b が違うなら True |
| < | a<b | a が b 未満なら True |
| <= | a<=b | a が b 以下なら True |
| >= | a>=b | a が b 以上なら True |
| > | a>b | aがbより大きいなら True |

他の言語と異なり，２つの比較をつなげることができます．
```python
print( 1<2<3 )
print( 2<3<1 )
```

## 論理演算

論理型には ```and``` や ```or``` などの演算子があります．
```python
True and False
```

```python
True or False
```

True と 1 False と 0 は同じものとして扱われます．
```python
True==1
```

```python
False==0
```

```not``` は否定です．
```python
print(not True)
print(not False)
```

「6 は2で割り切れ，かつ3でも割り切れる」は真でしょうか偽でしょうか？

「6が2で割り切れる」は 「6を2で割った余りが0である」ということですから，```6%2==0```　とかけます．

「かつ」は ```and``` ですから以下のように書くことができます．

```python
(6%2==0) and (6%3==0)
```

## 4. 変数

プログラムではデータをそのまま扱うことは稀で，ふつうデータに名前をつけて操作を行います．この名前のことを __変数__ といいます．

Python では変数が何のデータ型なのかを指定せずに，すぐに定義することができます．

```python
x = 3      # 3 という数字を用意して，それに x という名前をつける
print(x)   # x の中身を出力する
```

変数を初めて宣言する時に，型を指定しなくてもよいのは，よい面もありますが，悪い面もあります．他の人のプログラムを見た時に，その変数がどのような型で使われているのかわからない時があるからです．そんな時は，```type``` 関数で型を調べることが助けになります．

```python
x = 3
print(x)
print(type(x))

x = "Hello"
print(x)
print(type(x))
```

In [ ]:
x=3
print(x)
print(type(x))

In [ ]:
x = "Hello"
print(x)
print(type(x))

## print

```print``` 命令で変数の値を出力するときに，変数の数値や文字を文の中に埋め込むとわかりやすい出力になります．


そのためには，文字列型のformat というメソッドを使います．

In [ ]:
x=3
print( "xの値は{}です".format(x) )

In [ ]:
x="This is a pen."
y="これはペンです"
print( "「{}」の日本語訳は「{}」です．".format(x,y) )

また，python3.6 からは __f文字列__ という表記でも，変数を文字列に埋め込むことができます．文字列の前に f を書き，{} の中に変数名を書きます．こちらの方が簡単ですね．

In [ ]:
x = 3
print( f'xの値は{x}です')
x = 'Good morning!'
y = 'おはよう'
print( f'{x}の日本語訳は{y}です．' )

# 課題

* 必ず実行結果を出力するようにしてください．

__[1]__  文字列に対して * の演算子を使うと結果はどうなるでしょう．以下のプログラムの結果を下に書いて出力を調べてください．

```python
"hello"*6
```

In [2]:
'hellohellohellohellohellohello'

'hellohellohellohellohellohello'

__[2]__ 250円の定規を4本、60円のクレヨンを8本を2割引で購入しました。消費税を10%として、支払い金額を求めるために、以下の式の XXXX, YYYY, ZZZZ の部分を編集して完成させてください。

In [3]:
pay =  (250*4 + 60*8)*0.8*1.1
print(pay)

1302.4

__[3]__ 「xが0よりも大きい」かつ「xを5で割ったあまりが2よりも小さい」という条件にあえば True、合わなかったら False が出力されるように、以下のプログラムを完成させてください。

In [4]:
x = 7
hantei = (x%5 < 2) and (x>0)
print(hantei)

False

__[4]__ y は100以下の数で3で割っても4で割っても割り切れる数であれば True, そうでなければ False を出力するように，以下のプログラムを完成してください．

In [6]:
y = 24
hantei =  (y<=100) and (y%12==0)
print(hantei)

True

__[5]__ 以下のプログラムを改変して、「大谷翔平は2024年に..歳になります」と出力するように、以下の式の XXXX, YYYY, ZZZZ の部分を変数を使って書いてください。

In [7]:
year_birth = 1994
year_now   = 2024
age = year_now - year_birth# year_birth と year_now を使った式で書いてください
print(f"大谷翔平は{year_now}年に{age}歳になります")

大谷翔平は2024年に30歳になります

__[6]__ 標高が100m高くなると、気温が0.6度下がると言われています．高槻キャンパスの標高は約200mです．ある日の大阪市（海抜0mとする）の気温が20度であるときの高槻キャンパスの気温は何度と計算できるでしょう．以下のプログラムの xxxx, yyyyyy を変更してプログラムを完成させてください．

In [8]:
altitude = 200       # 標高
temp_0 = 20       # 標高0mでの気温

temp_takatsuki = 20-0.6*200/100
print(f"高槻キャンパスの気温は{temp_takatsuki}です")

高槻キャンパスの気温は18.8です

# 課題の提出

以下をダブルクリックして入力してください

名前：横谷友紀

学籍番号：情25-0483

感想：Pythonを初めて触ったが、Cよりも融通が利きやすい感じがして二つの違いについて実感できた。

ファイルを保存したら，このファイルを「ダウンロード」ボタンからダウンロードし（左のファイルブラウザでファイルを選択して右クリックし，Downloadを選択してダウンロードすることもできます），関大LMSで提出してください．

__注意：ダウンロードしたファイルは Word などのアプリケーションで中身を確認することはできません．中身を確認したい場合は Google Colab にファイルをアップロードして確認してください．__